AWS_KEY="your-access-key-id"
AWS_SECRET="your-secret-access-key"
AWS_REGION="eu-west-1"
AWS_BUCKET="your-bucket-name"
# Custom endpoint  LocalStack/MinIO
AWS_ENDPOINT="https://s3.eu-west-1.amazonaws.com"
AWS_PUBLIC=false
